@media (min-width: 740px) and (max-width: 1023px) {
  .right-content {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .right-content-item {
    width: 100%;
    padding-right: 0px;
   
    margin-top: 20px;
  }
  .right-content-item h2 {
    font-size: 16px;
  }
  .right-content-item-detail img {
    display: flex;
    margin: auto;
    width: 150px;
    height: 150px;
  }
}
/* Mobile */
@media (max-width: 740px) {
}
@media screen and (max-width:1296px) {
  .right-content{
    flex-direction: column;
  }
  .right-content-item{
    width: 100%;
  }
}
